.navMenu {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navMenuLink {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: rgba(255, 255, 255, 0.5);
}

.navMenuLink.active {
    color: #fff;
    text-shadow:
            0 0 2px white,
            0 0 4px white,
            0 0 6px #ffe81f,
            0 0 10px #ffe81f,
            0 0 20px #ffe81f,
            0 0 40px #ffe81f;
    transition: text-shadow 0.3s;
}

.navMenuLink:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

.navMenuItem {
    margin: 0 8px 0 8px;
    p {
        margin: 8px 0 8px 0;
    }
}