.header {
    position: relative;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header__logo-image {
    margin: 20px auto;
    cursor: pointer;
}

.header__menu {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header__menu-item {
    float: left;
    margin: 16px;
}

.header__menu-link {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: rgba(255, 255, 255, 0.5);
}

.header__menu-link.active {
    color: #fff; /* зроби непрозорий текст для кращого ефекту */
    text-shadow:
            0 0 2px white,        /* внутрішнє світіння */
            0 0 4px white,        /* ще трохи білого ядра */
            0 0 6px #ffe81f,      /* основне світіння */
            0 0 10px #ffe81f,     /* більше сяйва */
            0 0 20px #ffe81f,     /* розсіяне світло */
            0 0 40px #ffe81f;     /* далеке сяйво */
    transition: text-shadow 0.3s;
}

.header__menu-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}