.footer {
    margin-top: auto;
    position: relative;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.footer__menu {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer__menu-item {
    float: left;
}

.footer__menu-link {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__menu-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}